.modal-left {
    float: left;
    width: 40%;
    display: block;
    padding: 0px 10px;
}

.modal-right {
    width: 50%;
    float: right;
    display: block;

    img {
        max-width: 100%;
        min-width: 80%;
    }
}