.App {
  text-align: center;
}

// @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 100%;
  color: #1A76D2;
}

body {
  height: 100vh;
  // font-family: 'Source Code Pro', monospace;
  // color: 1A76D2;
}